In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from datetime import datetime

In [3]:
#stadiums = pd.read_csv('../Dylan/stadium_data.csv')

In [4]:
#print(stadiums.count())
#stadiums.head()

In [5]:
#locs = []
#states = stadiums['State']
#count = 0
#for state in states:
#    if(state == " D.C."):
#        locs.append(count)
#    count = count + 1
#print(locs)

In [6]:
games = pd.read_csv('../Shawn/mls_2018.csv')

In [7]:
dt = games['Date'].apply(lambda x: datetime.strptime(x,'%m/%d/%y'))

In [8]:
games = games.assign(date2 = dt)

In [9]:
games = games.replace("HOU/SJ", "Houston")
games = games.replace("DC United", "Washington, D.C.")
games = games.replace("NJ/NY", "New Jersey")
games = games.replace("NYCFC", "NYC")
games = games.replace("LAFC", "Los Angles")
print(games["City"].unique())

['Toronto' 'Houston' 'Philadelphia' 'Orlando' 'Dallas' 'San Jose'
 'Seattle' 'Vancouver' 'Kansas City' 'Los Angeles' 'Columbus'
 'New England' 'Salt Lake' 'Chicago' 'New Jersey' 'Atlanta' 'NYC'
 'Washington, D.C.' 'Minnesota' 'Montreal' 'Colorado' 'Portland'
 'Los Angles']

In [10]:
#key = 'b1651c7fc8fe481c9d810916200605'
#url = 'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q='
#url2 = '&format=json&key=b1651c7fc8fe481c9d810916200605'
#temps = []

#location = "New England"
#response = requests.get(url+location+url2).json()
#temp = response["data"]["weather"][0]["maxtempF"]
#temps.append(temp)
#print(temps)

In [11]:
key = 'b1651c7fc8fe481c9d810916200605'
url = 'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q='
url2 = '&format=json&key=b1651c7fc8fe481c9d810916200605'
temps = []

for x in range(0, 391):
    location = games["City"][x]
    date = '&date=' + str(games["date2"][x])
    response = requests.get(url+location+date+url2).json()
    temp = response["data"]["weather"][0]["maxtempF"]
    temps.append(temp)

In [12]:
weather = games[['City', 'date2']]
print(len(temps))
weather = weather.assign(max_temp_f = temps)
weather = weather.rename(columns={"date2": "Date"})
weather.head(20)

391

                City       Date max_temp_f
0            Toronto 2018-03-03         36
1            Houston 2018-03-03         72
2       Philadelphia 2018-03-03         45
3            Orlando 2018-03-03         71
4             Dallas 2018-03-03         71
5           San Jose 2018-03-03         52
6            Seattle 2018-03-04         48
7          Vancouver 2018-03-04         40
8        Kansas City 2018-03-04         57
9        Los Angeles 2018-03-04         60
10          Columbus 2018-03-10         42
11       New England 2018-03-10         81
12         Salt Lake 2018-03-10         46
13           Chicago 2018-03-10         36
14           Houston 2018-03-10         81
15        New Jersey 2018-03-10         39
16           Orlando 2018-03-10         72
17           Atlanta 2018-03-11         56
18               NYC 2018-03-11         43
19  Washington, D.C. 2018-03-17         79

In [14]:
weather.to_csv('weather.csv')