In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from datetime import datetime

In [2]:
stadiums = pd.read_csv('../Dylan/stadium_data.csv')

In [17]:
print(stadiums.count())
stadiums.head()

Unnamed: 0      62
Stadium         62
Franchise(s)    62
Capacity        61
Surface         61
Roof Type       62
City            62
State           39
dtype: int64

,Unnamed: 0,Stadium,Franchise(s),Capacity,Surface,Roof Type,City,State
0,0,Allianz Field,Minnesota United FC,19400.0,Grass,Open,Saint Paul,Minnesota
1,1,Audi Field,D.C. United,20000.0,Grass,Open,Washington,D.C.
2,2,Banc of California Stadium,Los Angeles FC,22000.0,Grass,Open,Los Angeles,NaN
3,3,BBVA Stadium,Houston Dynamo,22039.0,Grass,Open,Houston,NaN
4,4,BC Place,Vancouver Whitecaps FC,22120.0,Polytan,Retractable,Vancouver,NaN

In [24]:
locs = []
states = stadiums['State']
count = 0
for state in states:
    if(state == " D.C."):
        locs.append(count)
    count = count + 1
print(locs)

[1, 42]

In [100]:
games = pd.read_csv('../Shawn/mls_2018.csv')

In [101]:
dt = games['Date'].apply(lambda x: datetime.strptime(x,'%m/%d/%y'))

In [102]:
games = games.assign(date2 = dt)

In [105]:
games = games.replace("HOU/SJ", "Houston")
games = games.replace("DC United", "Washington, D.C.")
games = games.replace("NJ/NY", "New Jersey")
games = games.replace("NYCFC", "NYC")
games = games.replace("LAFC", "Los Angles")
print(games["City"].unique())

['Toronto' 'Houston' 'Philadelphia' 'Orlando' 'Dallas' 'San Jose'
 'Seattle' 'Vancouver' 'Kansas City' 'Los Angeles' 'Columbus'
 'New England' 'Salt Lake' 'Chicago' 'New Jersey' 'Atlanta' 'NYC'
 'Washington, D.C.' 'Minnesota' 'Montreal' 'Colorado' 'Portland'
 'Los Angles']

In [106]:
key = 'b1651c7fc8fe481c9d810916200605'
url = 'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q='
url2 = '&format=json&key=b1651c7fc8fe481c9d810916200605'
temps = []

location = "New England"
response = requests.get(url+location+url2).json()
temp = response["data"]["weather"][0]["maxtempF"]
temps.append(temp)
print(temps)

['84']

In [107]:
key = 'b1651c7fc8fe481c9d810916200605'
url = 'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?q='
url2 = '&format=json&key=b1651c7fc8fe481c9d810916200605'
temps = []

for x in range(0, 391):
    location = games["City"][x]
    date = '&date=' + str(games["date2"][x])
    response = requests.get(url+location+date+url2).json()
    temp = response["data"]["weather"][0]["maxtempF"]
    temps.append(temp)

In [108]:
weather = games[['City', 'date2']]
print(len(temps))
weather = weather.assign(weather = temps)
weather.head(5)

391

           City      date2 weather
0       Toronto 2018-03-03      36
1       Houston 2018-03-03      72
2  Philadelphia 2018-03-03      45
3       Orlando 2018-03-03      71
4        Dallas 2018-03-03      71

In [129]:
print(response["data"]["weather"][0]["totalSnow_cm"])

0.0